.container{
  margin: 10px 40px 10px 40px;
  padding-bottom: 50px;
}

table {
  width: 100%;
  min-width: 0;
}

th{
  width: 20%;
}

.accion-item{
  cursor: pointer;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-toolbar{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 500px){
  .container{
    margin: 10px 20px;
    padding-bottom: 50px;
  }
  td{
    text-align: left;
    font-size: 12px;
  }
}

@media (max-width: 350px){
  .container{
    margin: 10px 0;
    padding-bottom: 50px;
  }
}

